/* global styles for the application */

/* default element settings */
body, p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* flexbox settings */
.inner-flex {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

.flex-row-start {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.flex-list-wrapper {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    max-width: 1000px;
    overflow-x: auto;
    scrollbar-gutter: stable;
    position: relative;
    width: 100%;
}

/* Common Controls */

.button {
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    padding: 0 10px;
    height: 28px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold !important;
    text-decoration: none !important;
    color: #551a8b;
    background-color: #F9F7F5;
    border: 1px solid rgba(85,26,139,0.5);
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
    transition: color, border-color, background-color, fill;
    transition-duration: 50ms;
    transition-timing-function: linear;

    /* class and state */
    &.disabled, &:disabled {
        cursor: not-allowed !important;
        user-select: none;
        color: rgba(0,0,0,0.25);
        border-color: rgba(0,0,0,0.25);
        background-color: #F5F6F7;
    }
}

.button+.button{
    margin: 0 0 0 6px;
}

/* card images */
img.card {
    border-radius: 4.75% / 3.5%;
    background-image: repeating-linear-gradient(-55deg, #DDD, #DDD 5px, #CCC 5px, #CCC 10px);
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
}