---
import displayConfig from "src/config/display-config.json";

interface Props {
    name:string,
    value?:string
}

const {name, value="image", ...props} = Astro.props;

---
<label>
    <select {name} {...props}>
        {Object.entries(displayConfig).map(([key, configVal]) =>
            <option value={key} selected={key==value}>{configVal.label}</option>
        )}
    </select>
    <span class="visually-hidden">Display</span>
</label>