---
interface Props {
    id: string,
    name: string,
    label: string
}

const {id, name, label} = Astro.props;
---
<label for={id} class="visually-hidden">{label}</label>
<select {name} {id}>
    <option>=</option>
    <option>&lt;</option>
    <option>&gt;</option>
    <option>&lt;=</option>
    <option>&gt;=</option>
    <option>!=</option>
</select>

<style>
    select {
        background-color: #FEFEFE;
        border-radius: 2px;
        border: 1px solid #AEAEAE;
        color: #343242;
        font-size: 16px;
        line-height: 20px;
        padding: 8px 0 8px 10px;
    }
</style>