---
interface Props {
    name: string,
    value?: string,
}

const {name, value="name", ...props} = Astro.props;

---
<label>
    <select {name} {...props}>
        <option value="name" selected={ value == "name" }>Sort by Name</option>
        <option value="date" selected={ value == "date" }>Sort by Release Date</option> {/* release date of set */}
        <option value="set" selected={ value == "set" }>Sort by Set/Number</option> {/* this requires adding the set-nr and the card-nr as separate columns */}
        <option value="rarity" selected={ value == "rarity" }>Sort by Rarity</option> {/* this requires defining what the order is */}
        <option value="color" selected={ value == "color" }>Sort by Color</option> {/* color order like official sets */}
        <option value="level" selected={ value == "level"}>Sort by Level</option>
        <option value="cost" selected={ value == "cost" }>Sort by Cost</option>
        <option value="power" selected={ value == "power" }>Sort by Power</option>
    </select>
    <span class="visually-hidden">Order</span>
</label>