---
interface Props {
    name: string,
    value?: string,
}

const {name, value="name", ...props} = Astro.props;

---
<label>
    <span>Type</span>
    <select {name} {...props}>
        <option value="" selected={ value == "" }>Any</option>
        <option value="Booster Pack" selected={ value == "Booster Pack" }>Booster Pack</option>
        <option value="Trial Deck" selected={value == "Trial Deck"}>Trial Deck</option>
        <option value="Premium Booster" selected={ value == "Premium Booster"}>Premium Booster</option>
        <option value="Extra Booster" selected={value == "Extra Booster"}>Extra Booster</option>
    </select>
</label>