---
import MainLayout from "@layouts/MainLayout.astro";
import SearchHeader from "@layouts/SearchHeader.astro";

import { db, Set } from 'astro:db';
import { format } from 'date-fns';

const sets = await db.select().from(Set);

---
<MainLayout>
    <SearchHeader />
    <main>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Released</th>
                </tr>
            </thead>
            <tbody>
                { sets.map(set => 
                    <tr>
                        <td><a href={"/sets/" + set.id}>{set.name}</a></td>
                        <td>{set.releaseDate && format(set.releaseDate, "yyyy-MM-dd")}</td>
                    </tr>)}
            </tbody>
        </table>
    </main>
</MainLayout>