---
const {id, name, label} = Astro.props;
---
<label for={id} class="visually-hidden">{label}</label>
<select {name} {id}>
    <option>=</option>
    <option>&lt;</option>
    <option>&gt;</option>
    <option>&lt;=</option>
    <option>&gt;=</option>
    <option>!=</option>
</select>