---
const {title} = Astro.props;
---
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Search for Weiß Schwarz Cards" />
  
    <title>{title ? title + " -" : ""} Riki Weiß Schwarz Search</title>
    <meta name="description" content="">
  
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:image:alt" content="">
  
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#ADD8E6">

    <link rel="stylesheet" href="/boilerplate.css">
  
    {/*  Font Import Example */}
    {/* 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
     */}
  </head>