---
import HtmlHead from "@layouts/HtmlHead.astro";
import Footer from "@layouts/Footer.astro";
import "../styles/global.css";


const {title} = Astro.props;
---

<!doctype html>
<html class="no-js" lang="">

<HtmlHead {title} />

<body>
    <slot />
    <Footer />
</body>

</html>