---
import { Icon } from "astro-icon/components"


const { searchText } = Astro.props;
---
<header id="search-header">
    <div class="header-content">
        <a title="Back to homepage" href="/" class="header-logo">
            <span class="visually-hidden">Riki</span>
            <Icon name="riki_icon" />
        </a>
        <form action="/search" accept-charset="UTF-8" method="get" class="header-search">
            <label for="header-search-field" class="visually-hidden">Search for Weiß Schwarz cards</label> 
            <input type="text" name="q" id="header-search-field" value={searchText} placeholder="Search for Weiß Schwarz cards…" autocomplete="on" autocapitalize="none" autocorrect="off" spellcheck="false" maxlength="1024" class="header-search-field"> 
            
            <!-- Hidden inputs for additional search options -->
            <input type="hidden" name="as" id="as" value="grid" autocomplete="off"> 
            <input type="hidden" name="order" id="order" value="name" autocomplete="off">
    
            <button type="submit" class="visually-hidden">Find Cards</button>
        </form>
    
        <div class="header-links">
            <div class="header-link-divider"></div> 
            <a href="/advanced" class="header-link double-pad-left">
                <Icon name="table" />
                <span>Advanced</span>
            </a> 
            <a href="/docs/syntax" class="header-link">
                <Icon name="help" />
                <span>Syntax</span>
            </a> 
            <a href="/sets" class="header-link">
                <Icon name="crown" /> <!-- can use width/height/color freely -->
                <span>Sets</span>
            </a>
        </div>
    </div>
</header>

<style>
    /*TODO: define a color scheme and use variables for it. */

    #search-header {
        width: 100%;
        padding: 0 2.5%;
        background-color: burlywood;
    }

    .header-content  {
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
        max-width: 1000px;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        height: 52px;
    }

    .header-search {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        flex: 1 1;
        margin: 0 0 0 4px;
    }

    #header-search-field {
        height: 52px;
        line-height: 22px;
        padding: 15px 3px 15px 3px;
        font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        color: black;
        background-color: beige;
        font-size: 16px;
        flex: 1 1;
    }

    .header-logo {
        flex: 0 0 28px;
        height: 52px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        & svg {
            height: 34px;
            width: 34px;
        }
    }

    @media screen and (min-width: 420px) {
        .header-logo {
            flex: 0 0 34px;
        }
    }
</style>