---
import { Icon } from "astro-icon/components"


const { searchText } = Astro.props;
---
<header id="search-header">
    <div class="header-content flex-row-start">
        <a title="Back to homepage" href="/" class="header-logo flex-row-start">
            <span class="visually-hidden">Riki</span>
            <Icon name="riki_icon" />
        </a>
        <form action="/search" accept-charset="UTF-8" method="get" class="header-search-form flex-row-start">
            <label for="header-search-field" class="visually-hidden">Search for Weiß Schwarz cards</label> 
            <input type="text" name="q" id="header-search-field" value={searchText} placeholder="Search for Weiß Schwarz cards…" autocomplete="on" autocapitalize="none" autocorrect="off" spellcheck="false" maxlength="1024" class="header-search-field"> 
            
            {/* Hidden inputs for additional search options */}
            <input type="hidden" name="as" value="grid" autocomplete="off"> 
            <input type="hidden" name="order" value="name" autocomplete="off">
    
            <button type="submit" class="visually-hidden">Find Cards</button>
        </form>
    
        <div class="header-links">
            <div class="divider"></div> 
            <a class="flex-row-start" href="/advanced">
                <Icon name="table" />
                <span>Advanced</span>
            </a> 
            <a class="flex-row-start" href="/docs/syntax">
                <Icon name="help" />
                <span>Syntax</span>
            </a> 
            <a class="flex-row-start" href="/sets">
                <Icon name="crown" /> {/* can use width/height/color freely */}
                <span>Sets</span>
            </a>
        </div>
    </div>
</header>

<style>
    /*TODO: define a color scheme and use variables for it. */

    #search-header {
        /*width: 100%; -> this causes the page to scroll for some reason */ 
        padding: 0 2.5%;
        background-color: burlywood;
    }

    .header-content  {
        margin: 0 auto;
        /*position: relative;*/
        width: 100%;
        max-width: 1000px;
        height: 52px;
        overflow: hidden;
    }

    .header-search-form {
        margin: 0 0 0 4px;
        /*position: relative;*/
        flex: 1 1;
    }

    #header-search-field {
        height: 52px;
        line-height: 22px;
        padding: 15px 3px 15px 3px;
        font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        color: black;
        background-color: beige;
        font-size: 16px;
        flex: 1 1;
    }

    .header-logo {
        flex: 0 0 28px;
        height: 52px;

        & svg {
            height: 34px;
            width: 34px;
        }
    }

    .header-links {
        display: none; /* do not display at lower resolutions */
    }

    .header-links a {
        height: 52px;
        font-size: 14px;
        line-height: 22px;
        color: #555;
        padding: 0 7px;

        &:first-child {
            padding-left: 14px;
        }

        &:hover, &:active, &:focus {
            color: #111;
            text-decoration: underline;
        }

        & svg {
            width: 16px;
            height: 16px;
            margin: 0 7px 0 0;
        }
    }

    .divider {
        height: 20px;
        width: 1px;
        border-right: 1px solid rgba(255,255,255,0.4);
        margin: 0 6px 0 0;
    }

    @media screen and (min-width: 420px) {
        .header-logo {
            flex: 0 0 34px;
        }
    }

    @media screen and (min-width: 800px) {
        .header-links {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            height: 52px;
        }
    }
</style>